<!doctype html>
<html lang="{{ request.locale.iso_code }}">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ page_title }}{{ shop.name | prepend: ' – ' }}</title>
    {% if page_description %}
      <meta name="description" content="{{ page_description | escape }}">
    {% endif %}
    <link rel="canonical" href="{{ canonical_url }}">
    {{ content_for_header }}
  </head>
  <body>
    {%  render 'navigation' %}
    <main role="main">
      {{ content_for_layout }}
    </main>
    {% render 'footer' %}
  </body>
</html>
